@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap");
@font-face {
  font-family: 'peace_sansregular';
  src: url("./fonts/peace_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  color: #6f6f6e; }

h2 {
  font-family: "peace_sansregular", sans-serif;
  color: #494949;
  font-weight: 400;
  font-size: 4rem; }

h3 {
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 2.5rem; }

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

.btn {
  display: inline-block;
  line-height: 4rem;
  padding: 0 2.2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  background-color: #fff;
  transition: all .4s; }
  .btn--red {
    color: #fff;
    background-color: #bc2e3a; }
  .btn:hover {
    box-shadow: -3px 11px 20px rgba(0, 1, 1, 0.5); }

.header {
  height: 100vh;
  margin: 0 auto;
  background-image: url("../photo/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2; }
  .header__heading-box {
    padding: 25vh 0 0 0;
    background-image: url("../photo/bg2.jpg");
    background-size: inherit;
    background-attachment: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative; }
    @media (max-width: 51.5em) {
      .header__heading-box {
        padding: 15vh 0 0 0; } }
  .header__heading {
    width: 80rem;
    letter-spacing: 4px;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    font-family: "peace_sansregular", sans-serif;
    font-weight: 400; }
    @media (max-width: 51.5em) {
      .header__heading {
        width: 100%;
        line-height: 1; } }
    .header__heading--main {
      display: block;
      font-size: 12.8rem; }
      @media (max-width: 51.5em) {
        .header__heading--main {
          font-size: 6rem; } }
    .header__heading--sub {
      font-size: 8.4rem; }
      @media (max-width: 51.5em) {
        .header__heading--sub {
          font-size: 4rem; } }
  .header__img {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 105vh;
    width: 55vw;
    background-image: url("../photo/model.png");
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 51.5em) {
      .header__img {
        top: 43%;
        left: 50%;
        width: 60%;
        transform: translate(-50%); } }

.navbar {
  width: 85vw;
  max-width: 150rem;
  padding-left: 5vw;
  display: flex;
  height: 3rem;
  align-items: baseline;
  position: absolute;
  top: 0;
  transition: all .7s; }
  .navbar.expanded {
    width: 100%;
    height: 30rem;
    font-size: 2rem;
    background-color: black;
    padding-left: 0;
    justify-content: center; }
    @media (max-width: 20em) {
      .navbar.expanded {
        height: 35rem; } }
  .navbar__brand {
    color: #fff;
    text-decoration: none;
    font-size: 3.3rem;
    font-weight: 800; }
    @media (max-width: 51.5em) {
      .navbar__brand {
        font-size: 3rem; } }
    .navbar__brand.rotate {
      animation: rotate 2s forwards; }
  .navbar .fa-hamburger {
    font-size: 3rem;
    color: #fff;
    margin-left: auto;
    margin-right: 2rem;
    display: none;
    cursor: pointer;
    transition: all .3s; }
    @media (max-width: 51.5em) {
      .navbar .fa-hamburger {
        display: block; } }
  .navbar__nav {
    margin-left: auto;
    display: flex;
    list-style: none; }
    .navbar__nav.mobile {
      flex-direction: column;
      display: block; }
    @media (max-width: 51.5em) {
      .navbar__nav {
        display: none; } }
  .navbar__link {
    margin-right: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-bottom: .2rem;
    transition: border-bottom .3s; }
    .navbar__link:hover {
      border-bottom: 1px solid #fff; }
    @media (max-width: 51.5em) {
      .navbar__link {
        font-size: 3rem; } }

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 0 0 12px #231f20;
  padding: 25vh 0 0 0; }
  @media (max-width: 51.5em) {
    .shadow {
      padding: 15vh 0 0 0; } }

.read-more {
  position: absolute;
  top: 80vh;
  width: 80rem;
  text-align: center; }
  @media (max-width: 51.5em) {
    .read-more {
      width: 100%; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-90deg) translateX(-10rem); } }

.about {
  padding: 5vw 10vw;
  position: relative;
  overflow: hidden;
  max-width: 160rem;
  box-sizing: border-box;
  margin: 0 auto; }
  .about::before {
    content: "";
    top: 0%;
    left: 70%;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    z-index: -3;
    width: 55vw;
    height: 55vw;
    background-color: #171717; }
    @media (max-width: 51.5em) {
      .about::before {
        display: none; } }

.about-wrapper {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }
  @media (max-width: 51.5em) {
    .about-wrapper {
      flex-wrap: wrap;
      justify-content: center; } }

.about-text {
  max-width: 45rem;
  flex: 1 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; }
  @media (max-width: 51.5em) {
    .about-text {
      align-items: center; } }
  .about-text p {
    margin-top: 2rem;
    margin-right: 10rem; }
    @media (max-width: 51.5em) {
      .about-text p {
        margin-right: auto; } }
  .about-text .btn {
    margin-top: 2rem; }

.about-img {
  max-width: 60rem;
  flex: 1 1;
  z-index: -3; }
  @media (max-width: 51.5em) {
    .about-img {
      flex: 100%;
      order: -1; } }
  .about-img img {
    width: 100%; }

.services {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem;
  background-color: #f5f5f5;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr)); }
  @media (max-width: 20em) {
    .services {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      padding: 5vw 3vw; } }
  .services h2 {
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 2rem; }

.service__icon {
  background-color: #bc2e3a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .service__icon img {
    width: 100%;
    height: auto; }

.service__text {
  margin-left: 9rem; }

.service-header {
  display: flex;
  align-items: center; }
  .service-header h3 {
    margin-left: 2rem; }

.process {
  padding: 5vw 0;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  overflow: hidden; }
  .process h2 {
    padding: 0 10vw;
    max-width: 120rem; }
    @media (max-width: 51.5em) {
      .process h2 {
        text-align: center; } }

.processes {
  padding-left: 10vw;
  max-width: 160rem;
  overflow: hidden;
  margin: 0 auto;
  display: flex; }
  @media (max-width: 51.5em) {
    .processes {
      flex-direction: column;
      padding: 0 2rem; } }
  .processes__main-text {
    flex: 0 0 20%;
    margin-top: 3rem;
    margin-right: 12rem; }
    @media (max-width: 51.5em) {
      .processes__main-text {
        margin-right: auto;
        text-align: center; } }
    .processes__main-text .btn {
      margin: 3rem 0; }
  .processes__image {
    flex: 1 0 22%;
    transform: skewX(-25deg);
    overflow: hidden;
    height: 24rem;
    margin-top: 3rem;
    margin-right: 8rem;
    position: relative;
    z-index: 1;
    background-color: black;
    box-shadow: -3.508px 11.476px 20px rgba(0, 1, 1, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 51.5em) {
      .processes__image {
        order: -1;
        margin: 0;
        transform: skewX(0); } }
    .processes__image:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/idea.jpg");
      background-size: cover;
      opacity: .3;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
      @media (max-width: 51.5em) {
        .processes__image:nth-child(2)::after {
          transform: skewX(0); } }
    .processes__image:nth-child(3)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/design.jpg");
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
      @media (max-width: 51.5em) {
        .processes__image:nth-child(3)::after {
          transform: skewX(0); } }
    .processes__image:nth-child(4)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/output.jpg");
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
      @media (max-width: 51.5em) {
        .processes__image:nth-child(4)::after {
          transform: skewX(0); } }
  .processes span {
    align-self: flex-end;
    transform: skewX(25deg);
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    margin-right: 2rem; }
    @media (max-width: 51.5em) {
      .processes span {
        transform: skewX(0); } }
  .processes__text {
    transform: skewX(25deg);
    color: #fff;
    padding: 2rem 4rem;
    font-size: 1.5rem; }
    @media (max-width: 51.5em) {
      .processes__text {
        transform: skewX(0); } }

.team {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem;
  background-color: #f5f5f5; }
  .team h2 {
    text-align: center; }

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 51.5em) {
    .slider-wrapper {
      flex-direction: column; } }
  .slider-wrapper .arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 3rem 0;
    border-color: transparent #424240 transparent transparent; }
    @media (max-width: 51.5em) {
      .slider-wrapper .arrow-left {
        border-width: 0 3rem 3rem 3rem;
        border-color: transparent transparent #424240 transparent;
        margin-bottom: 2rem; } }
  .slider-wrapper .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 0 3rem 3rem;
    border-color: transparent transparent transparent #424240; }
    @media (max-width: 51.5em) {
      .slider-wrapper .arrow-right {
        border-width: 3rem 3rem 0 3rem;
        border-color: #424240 transparent transparent transparent; } }

.team-slider {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center; }
  @media (max-width: 51.5em) {
    .team-slider {
      flex-direction: column;
      width: 100%; } }

.team-person {
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .team-person__img {
    width: 17rem;
    height: 17rem;
    box-shadow: -3.5px 11.5px 20px rgba(0, 1, 1, 0.2);
    border: 1rem solid #fff;
    transform: rotate(45deg);
    overflow: hidden; }
    @media (max-width: 51.5em) {
      .team-person__img {
        width: 14rem;
        height: 14rem; } }
    .team-person__img img {
      width: 150%;
      transform: rotate(-45deg) translateY(-6rem); }
    .team-person__img--active {
      margin-top: 2rem;
      width: 26rem;
      height: 26rem;
      z-index: 1; }
      @media (max-width: 51.5em) {
        .team-person__img--active {
          width: 20rem;
          height: 20rem; } }
      .team-person__img--active img {
        transform: rotate(-45deg) translateY(-8rem); }
  .team-person__name {
    width: 15rem;
    transform: skew(45deg);
    background-color: #636363;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: -0.4rem; }
    .team-person__name span {
      display: block;
      transform: skew(-45deg); }
    .team-person__name--active {
      background-color: #252525;
      z-index: 1;
      width: 17rem;
      font-size: 1.8rem;
      line-height: 4rem; }
  .team-person__position {
    width: 11rem;
    transform: skew(45deg);
    background-color: #bc2e3a;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: -0.4rem;
    margin-left: 4rem;
    z-index: 2; }
    .team-person__position span {
      display: block;
      transform: skew(-45deg); }

.clients {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem; }
  @media (max-width: 51.5em) {
    .clients h2 {
      text-align: center; } }

.client {
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 51.5em) {
    .client {
      flex-direction: column;
      margin: 6rem 0 3rem 0; } }
  .client__image {
    height: 20rem;
    width: 20rem;
    margin-bottom: 4rem;
    margin-right: 4.5rem;
    box-shadow: -3.5px 11.5px 20px rgba(0, 1, 1, 0.2);
    border: 1rem solid #fff;
    transform: rotate(45deg);
    overflow: hidden; }
    @media (max-width: 51.5em) {
      .client__image {
        margin-right: 0; } }
    .client__image img {
      width: 150%;
      transform: rotate(-45deg) translateY(-6.5rem); }
  .client__quote-box {
    flex: 0 1 65%;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    position: relative; }
    @media (max-width: 51.5em) {
      .client__quote-box {
        flex: 100%;
        text-align: center;
        height: auto;
        margin-top: 2rem; } }
    .client__quote-box::before {
      content: "\201C";
      position: absolute;
      top: -7.5rem;
      left: -10rem;
      font-size: 20rem; }
      @media (max-width: 51.5em) {
        .client__quote-box::before {
          font-size: 10rem;
          top: -4rem;
          left: -2.5rem; } }
      @media (max-width: 20em) {
        .client__quote-box::before {
          font-size: 8rem;
          top: -3rem;
          left: -.7rem; } }
  .client__quote {
    font-weight: 400;
    font-style: italic;
    line-height: 30px; }
    @media (max-width: 20em) {
      .client__quote {
        line-height: 25px;
        font-size: 1.4rem; } }
  .client__name {
    font-weight: 700; }
    @media (max-width: 51.5em) {
      .client__name {
        margin: 2rem 0; } }

.other-clients {
  display: flex; }
  @media (max-width: 51.5em) {
    .other-clients {
      justify-content: space-around; } }
  .other-clients-photo {
    width: 4rem;
    height: 4rem;
    margin-left: 2.5rem;
    box-shadow: 2px 2px 4px rgba(35, 31, 32, 0.22);
    transform: rotate(45deg);
    overflow: hidden; }
    @media (max-width: 51.5em) {
      .other-clients-photo {
        margin: 3rem 2rem 0 2rem;
        width: 6rem;
        height: 6rem; } }
    .other-clients-photo img {
      width: 150%;
      transform: rotate(-45deg) translateY(-1rem); }
      @media (max-width: 51.5em) {
        .other-clients-photo img {
          transform: rotate(-45deg) translateY(-2rem); } }

footer {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 160rem;
  background-image: url("../photo/footer.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer h2 {
    color: #9f9f9f; }

.contacts {
  margin: 5vw 0;
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: normal;
  align-items: center; }

.contact {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 51.5em) {
    .contact {
      justify-content: initial; } }
  .contact__text h4 {
    color: #fff;
    text-transform: none; }
  .contact__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem; }
    .contact__icon img {
      width: 100%; }
  .contact:nth-of-type(2) .contact__icon {
    padding-bottom: 1.5rem; }

.socials .fab {
  font-size: 1.9rem;
  color: #fff;
  padding: 2rem 1rem; }

.copyright {
  color: #fff;
  border-top: 2px solid #6f6f6e;
  padding: 2rem;
  font-size: 1.3rem; }
  @media (max-width: 51.5em) {
    .copyright {
      text-align: center; } }
