@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap");
@font-face {
  font-family: 'peace_sansregular';
  src: url("./fonts/peace_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  color: #6f6f6e; }

h2 {
  font-family: "peace_sansregular", sans-serif;
  color: #494949;
  font-weight: 400;
  font-size: 4rem; }

h3 {
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 2.5rem; }

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

.btn {
  display: inline-block;
  line-height: 4rem;
  padding: 0 2.2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  box-shadow: -3.508px 11.476px 20px rgba(0, 1, 1, 0.47);
  background-color: #fff; }
  .btn--red {
    color: #fff;
    background-color: #bc2e3a; }

.header {
  height: 100vh;
  margin: 0 auto;
  background-image: url("../photo/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2; }
  .header__heading-box {
    padding: 25vh 0 0 0;
    background-image: url("../photo/bg2.jpg");
    background-size: inherit;
    background-attachment: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative; }
  .header__heading {
    width: 80rem;
    letter-spacing: 4px;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    font-family: "peace_sansregular", sans-serif;
    font-weight: 400; }
    .header__heading--main {
      display: block;
      font-size: 12.8rem; }
    .header__heading--sub {
      font-size: 8.4rem; }
  .header__img {
    position: absolute;
    top: 10%;
    right: 0%;
    height: 105vh;
    width: 55vw;
    background-image: url("../photo/model.png");
    background-size: contain;
    background-repeat: no-repeat; }

.navbar {
  width: 85vw;
  max-width: 150rem;
  padding-left: 5vw;
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 0; }
  .navbar__brand {
    color: #fff;
    text-decoration: none;
    font-size: 3.3rem;
    font-weight: 800; }
  .navbar__nav {
    margin-left: auto;
    display: flex;
    list-style: none; }
  .navbar__link {
    margin-right: 2rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase; }

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 0 0 12px #231f20;
  padding: 25vh 0 0 0; }

.read-more {
  position: absolute;
  top: 80vh;
  width: 80rem;
  text-align: center; }

.about {
  padding: 5vw 10vw;
  position: relative;
  overflow: hidden;
  max-width: 160rem;
  box-sizing: border-box;
  margin: 0 auto; }
  .about ::before {
    content: "";
    top: 0%;
    left: 70%;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-50%, -50%);
    position: absolute;
    z-index: -3;
    width: 55vw;
    height: 55vw;
    background-color: #171717; }

.about-wrapper {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }

.about-text {
  max-width: 45rem;
  flex: 1 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; }
  .about-text p {
    margin-top: 2rem;
    margin-right: 10rem; }
  .about-text .btn {
    margin-top: 2rem; }

.about-img {
  max-width: 60rem;
  flex: 1 1;
  z-index: -3; }
  .about-img img {
    width: 100%; }

.services {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem;
  background-color: #f5f5f5;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr)); }
  .services h2 {
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 2rem; }

.service__icon {
  background-color: #bc2e3a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .service__icon img {
    width: 100%;
    height: auto; }

.service__text {
  margin-left: 9rem; }

.service-header {
  display: flex;
  align-items: center; }
  .service-header h3 {
    margin-left: 2rem; }

.process {
  padding: 5vw 0;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  overflow: hidden; }
  .process h2 {
    padding: 0 10vw;
    max-width: 120rem; }

.processes {
  padding-left: 10vw;
  max-width: 160rem;
  overflow: hidden;
  margin: 0 auto;
  display: flex; }
  .processes__main-text {
    flex: 0 0 20%;
    margin-top: 3rem;
    margin-right: 12rem; }
    .processes__main-text .btn {
      margin: 3rem 0; }
  .processes__image {
    flex: 1 0 22%;
    transform: skewX(-25deg);
    overflow: hidden;
    height: 24rem;
    margin-top: 3rem;
    margin-right: 8rem;
    position: relative;
    z-index: 1;
    background-color: black;
    box-shadow: -3.508px 11.476px 20px rgba(0, 1, 1, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .processes__image:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/idea.jpg");
      background-size: cover;
      opacity: .3;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
    .processes__image:nth-child(3)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/design.jpg");
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
    .processes__image:nth-child(4)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url("../photo/output.jpg");
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1; }
  .processes span {
    align-self: flex-end;
    transform: skewX(25deg);
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    margin-right: 2rem; }
  .processes__text {
    transform: skewX(25deg);
    color: #fff;
    padding: 2rem 4rem;
    font-size: 1.5rem; }

.team {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem;
  background-color: #f5f5f5; }
  .team h2 {
    text-align: center; }

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .slider-wrapper .arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 3rem 3rem 0;
    border-color: transparent #424240 transparent transparent; }
  .slider-wrapper .arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3rem 0 3rem 3rem;
    border-color: transparent transparent transparent #424240; }

.team-slider {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center; }

.team-person {
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .team-person__img {
    width: 17rem;
    height: 17rem;
    box-shadow: -3.5px 11.5px 20px rgba(0, 1, 1, 0.2);
    border: 1rem solid #fff;
    transform: rotate(45deg);
    overflow: hidden; }
    .team-person__img img {
      width: 150%;
      transform: rotate(-45deg) translateY(-6rem); }
    .team-person__img--active {
      margin-top: 2rem;
      width: 26rem;
      height: 26rem;
      z-index: 1; }
      .team-person__img--active img {
        transform: rotate(-45deg) translateY(-8rem); }
  .team-person__name {
    width: 15rem;
    transform: skew(45deg);
    background-color: #636363;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: -0.4rem; }
    .team-person__name span {
      display: block;
      transform: skew(-45deg); }
    .team-person__name--active {
      background-color: #252525;
      z-index: 1;
      width: 17rem;
      font-size: 1.8rem;
      line-height: 4rem; }
  .team-person__position {
    width: 11rem;
    transform: skew(45deg);
    background-color: #bc2e3a;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: -0.4rem;
    margin-left: 4rem;
    z-index: 2; }
    .team-person__position span {
      display: block;
      transform: skew(-45deg); }
