// FONTS

// Google Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap');

// Peace Sans
@font-face {
  font-family: 'peace_sansregular';
  src: url('./fonts/peace_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// FONT VARIABLES
$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'peace_sansregular',
sans-serif;

// COLOR VARIABLES
$bg-color-primary: #f5f5f5;
$bg-color-secondary: #fff;

$color-primary: #bc2e3a;
$color-secondary: #171717;
$color-arrow: #424240;

$font-color: #6f6f6e;
$font-color-secondary: #fff;
$font-color-headings: #494949;


// RESPONSIVE BREAKPOINTS
$bp-small: 51.5em;    // 824px;
$bp-smallest: 20em;    // 320px;

// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

// TYPOGRAPHY
body {
  background-color: $bg-color-secondary;
  font-family: $font-primary;
  font-size: 1.7rem;
  color: $font-color;
}

h2 {
  font-family: $font-secondary;
  color: $font-color-headings;
  font-weight: 400;
  font-size: 4rem;
}
h3 {
  letter-spacing: -1px;
  font-weight: 800;
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

// Buttons
.btn {
  display: inline-block;
  line-height: 4rem;
  padding: 0 2.2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #242424;
  background-color: $bg-color-secondary;
  transition: all .4s;

&--red {
  color: $font-color-secondary;
  background-color: $color-primary;
}

  &:hover {
    box-shadow: -3px 11px 20px rgba(0, 1, 1, 0.5);
  }

}

