.clients {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 120rem;
}

.client {
  margin: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &__image {
    height: 20rem;
    width: 20rem;
    margin-bottom: 4rem;
    margin-right: 4.5rem;
    box-shadow: -3.5px 11.5px 20px rgba(0, 1, 1, .2);
    border: 1rem solid #fff;
    transform: rotate(45deg);
    overflow: hidden;

    & img {
      width: 150%;
      transform: rotate(-45deg) translateY(-6.5rem);
    }
  }

  &__quote-box {
    flex: 0 1 65%;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    &::before {
      content: "\201C";
      position: absolute;
      top: -7.5rem;
      left: -10rem;
      font-size: 20rem;
    }
  }

  &__quote {
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
  }

  &__name {
    font-weight: 700;
  }
}

.other-clients {
  display: flex;
  &-photo {
    width: 4rem;
    height: 4rem;
    margin-left: 2.5rem;
    box-shadow: 2px 2px 4px rgba(35,31,32,0.22);
    transform: rotate(45deg);
    overflow: hidden;

    & img {
      width: 150%;
      transform: rotate(-45deg) translateY(-1rem);
    }
  }
}
