footer {
  padding: 5vw 10vw;
  margin: 0 auto;
  max-width: 160rem;
  background-image: url('../photo/footer.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  height: 30vh;
}
