.header {
  max-width: 160rem;
  height: 90vh;
  margin: 0 auto;
  background-image: url('../photo/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}
