.process {
  padding: 5vw 0;
  position: relative;
  max-width: 160rem;
  margin: 0 auto;
  overflow: hidden;
  & h2 {
    padding: 0 10vw;
    max-width: 120rem;
  }
}

.processes {
  padding-left: 10vw;
  max-width: 160rem;
  overflow: hidden;
  margin: 0 auto;
  display: flex;


  &__main-text {
    flex: 0 0 20%;
    margin-top: 3rem;
    margin-right: 12rem;
    & .btn {
      margin: 3rem 0;
    }
  }
  &__image {

    flex: 1 0 22%;
    transform: skewX(-25deg);
    overflow: hidden;
    height: 24rem;
    margin-top: 3rem;
    margin-right: 8rem;
    position: relative;
    z-index: 1;
    background-color: black;
    box-shadow: -3.508px 11.476px 20px rgba(0,1,1,0.22);
    display: flex;
    flex-direction: column;
    justify-content: space-between;




    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url('../photo/idea.jpg');
      background-size: cover;
      opacity: .3;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1;
    }
    &:nth-child(3)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url('../photo/design.jpg');
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1;
    }
    &:nth-child(4)::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      background-image: url('../photo/output.jpg');
      background-size: cover;
      opacity: .7;
      background-position: center;
      transform: skewX(25deg);
      z-index: -1;
    }
  }

  & span {
    align-self: flex-end;
    transform: skewX(25deg);
    font-size: 4rem;
    color: $font-color-secondary;
    font-weight: 700;
    margin-right: 2rem;
  }
  &__text {
    transform: skewX(25deg);
    color: $font-color-secondary;
    padding: 2rem 4rem;
    font-size: 1.5rem;
  }
}
